<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id="cricketSportServiceImpl" class="com.springcore.practise.serviceImpl.CricketSportServiceImpl"></bean>
    <bean id="footBallSportServiceImpl" class="com.springcore.practise.serviceImpl.FootballSportServiceImpl"></bean>
    
    <bean id="demo1" class="com.springcore.practise.beans.Hello"></bean>
    <bean id="cricket" class="com.springcore.practise.interfaceimpl.Cricket">
    	<constructor-arg ref="cricketSportServiceImpl"></constructor-arg>
    </bean>
    <bean id="football" class="com.springcore.practise.interfaceimpl.FootBall">
    	<property name="footballService" ref="footBallSportServiceImpl"></property>
    </bean>
</beans>